#fonct .fonct__el:first-of-type{
    margin-top: 30px;
}

.fonct__el{
    text-align: center;
    margin: 120px 0;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
}

.fonct__illu{
    width: 100%;
    padding: 30px 0 15px 0;
    box-sizing: border-box;
    background-color: #D7DE16;
    border-radius: 60px 60px 0 0;


    color: #4D7C04;

    img{
        width: 50%;
    }

    .titre{
        margin: 5px 0 0 0;
        padding: 0 30px;
    }
}

.fonct__text{
    padding: 20px 15px;
}



@media (min-width: 470px){


    .fonct__el{
        display: flex;
        height: 50vh;
        flex-direction: row;
        flex-wrap: nowrap;

        box-shadow: unset;

        width: 100%;
    }

    .fonct__illu{
        border-radius: 60px;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            width: 65%;
            margin-bottom: 30px;
        }
    }

    .fonct__text{
        width: 60%;
        text-align: initial;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


}