.logo{
    font-size: 19px;
    color: #4D7C04;
    font-weight: 500;
    margin: 32px 0 0 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    img{
        width: 25px;
        margin-right: 10px;
    }
}

@media (max-width: 1019px){
    .menu__icon{
        width: 50px;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 100;
        cursor: pointer;
    }

    .menu__liste{
        position: fixed;
        background-color: #E6E6E6;
        margin: 0;
        top: 0;
        left: 100%; 
        width: 100%;
        height: 100%;
        transition: all 1s cubic-bezier(0.65, 0, 0.35, 1);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        list-style: none;
        font-size: 23px;
        padding-top: 90px;
        padding-right: 30px;
        z-index: 9;
        
        a, a:visited{
            color: #4D7C04;
            text-decoration: none;
            font-weight: 400;
        }

        .menu__el{
            padding: 5px 0;
            margin: 25px 0;
        }
    }

    .menu--open .menu__liste{
        top: 0;
        z-index: 10;
        transform: translateX(-100%);
    }
}

@media (min-width: 1020px){
    .menu__icon{
        display: none;
    }
}