.logo{
    font-size: 19px;
    color: #4D7C04;
    font-weight: 500;
    margin: 32px 0 0 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    a{
        color: #4D7C04;
        text-decoration: none;
    }

    img{
        width: 25px;
        margin-right: 10px;
    }
}


//burger menu
@media (max-width: 619px){
    .menu__icon{
        width: 50px;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 100;
        cursor: pointer;
    }

    .menu__liste{
        position: fixed;
        background-color: white;
        margin: 0;
        top: 0;
        left: 100%; 
        width: 100%;
        height: 100%;
        transition: all 1s cubic-bezier(0.65, 0, 0.35, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        font-size: 26px;
        padding-top: 120px;
        z-index: 9;
        
        a, a:visited{
            color: #4D7C04;
            text-decoration: none;
            font-weight: 400;
        }

        .menu__el{
            padding: 5px 0;
            margin: 25px 0;
        }
    }

    .menu--open .menu__liste{
        top: 0;
        z-index: 10;
        transform: translateX(-100%);
    }
}


//nav desk
@media (min-width: 620px){
    .menu__icon{
        display: none;
    }

    .logo{
        margin-top: 0;
        margin-right: 14px;
    }

    .nav{
        display: flex;
        align-items: center;
        flex-direction: row;

        position: fixed;
        top: 0;
        transition: top 0.3s;

        padding-top: 30px;
        padding-bottom: 10px;
        width: 100%;
        background-color: #FDFDFC;

        z-index: 5;
    }

    .menu__liste{
        list-style: none;
        display: contents;

        a, a:visited{
            color: #222;
            text-decoration: none;
        }

        .menu__el{
            margin: 0 18px;
            position: relative;

            :hover{
                color: #4D7C04;
                transition: 0.3s;
            }
        }

        .lien-anim{
            &::after {
                background: #4D7C04;
                bottom: -1px;
                content: '';
                height: 1px;
                left: -3px;
                position: absolute;
                width: 0%;
                
                -webkit-transition: width 0.6s ;
                -moz-transition: width 0.6s;
                transition: width 0.6s;
              }
              
              &:hover {
               &::after {
                  width: 105%;
                }
              }
        }
    }
}
