#prest{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prest__el{
    margin-top: 25%;
    margin-bottom: 45%;

    .titre--big{
        margin-bottom: 15px;
    }
}


//animation titre
.title__anim{
    overflow: hidden;
    display: block;
}
 
.title__anim span{
    display: block;
    transform: translateY(100%) rotate(-2.5deg);
    animation: up 1.4s .3s forwards cubic-bezier(0.22, 1, 0.36, 1);
}
 
.title__anim:nth-child(2) span{
    animation-delay: 0.4s;
}
 
.title__anim:nth-child(3) span{
    animation-delay: 0.5s;
}
 
@keyframes up{
    to{
        transform: translateY(0) rotate(0deg);
    }
}



//tab
@media (min-width: 470px){

    #prest{
        height: unset;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .prest__el{
        margin-bottom: 35%;
        margin-right: 14%;
        margin-left: 7%;
    }

}



//desktop
@media (min-width: 1000px){

    #prest{
        flex-direction: row;
        align-items: flex-start;
        height: 100vh;
        overflow: hidden;
    }

    .prest__el{
        margin-top: 15%;
    }


 }