#recherches{

    margin: 200px 0;


    .titre{
        margin-left: 20px;
        margin-top: 120px;
        margin-bottom: 0;
    }

    .paragraphe{
        margin: 30px 0;
    }

    .paragraphe--accent{
        margin: 40px 0;
        line-height: 170%;
        transform: translateY(50px);
        opacity: 0;
    }

    .recherche__text :nth-child(1){
        margin-top: 5px;
    }
}



//tab
@media (min-width: 600px){

    #recherches{
    
        .titre{
            margin-left: 7%;
        }
    
        .paragraphe{
            margin-left: 17%;
            margin-right: 5%;
        }

    }
}


//desktop
@media (min-width: 1000px){

    .recherche__el{
        //mettre en deux colonnes
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;

        .recherche__text{
            width: 65%;
            margin-bottom: 100px;
        }
    }

    #recherches{

        margin: 22% 0;

        .titre{
            margin-top: 13px;
            width: 35%;
        }

        .paragraphe{
            margin-left: 0;
        }

        .recherche__text :nth-child(1){
            margin-top: 30px;
        }
    }

}