#sondage{
    margin-bottom: 200px;
}

.sondage__carre{
    display: none;
}

.sondage__el{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 35% 0;

    img{
        width: 40%;
        height: auto;
        background-color: #CFC1AB;
        border-radius: 18px;
        transition: 0.4s cubic-bezier(0.65, 0, 0.35, 1);
    }

    .paragraphe--accent{
        width: 60%;
        display: flex;
        flex-direction: column;

        span{
            font-size: 45px;
        }
    }
}


//etat actif mobile
.etoile--svg{
    background-image: url(../../assets/images/etoiles.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.etoile--svg.sond__img{
    background-color: #4D7C04;
}


//tablette
@media (min-width: 470px){

    #sondage{
        margin-right: 7%;
        margin-left: 7%;
    }

    .sondage__el img{
        //changement taille
        width: 35%;
    }

}



@media (min-width: 1000px){

    #sondage{
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        height: min-content;

        margin-bottom: 24%;

        .titre--small{
            margin-top: 2px;
        }
    }


    .sondage__el{
        display: none;
        text-align: left;

        margin-bottom: 0;
        margin-top: 15%;

        img{
            display: none;
        }

        .paragraphe--accent{
            width: unset;

            margin-bottom: 0;

            text-align: left;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;

            span{
                margin-right: 10px;
                font-size: 65px;
            }
        }
    }

    
    .sondage__side{
        width: 60%;
        height: 40%;

        display: flex;
        flex-direction: column;

        margin-left: 7%;

        .visible{
            justify-self: center;
            display: unset;
        }
    }


    .sondage__carre{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        width: 40%;

        margin-right: 10px;

        img{
            background-color: #CFC1AB;
            border-radius: 18px;
            width: 100%;
            height: 100%;
            transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        }
    }

    .carre__el{
        cursor: pointer;
    }


    .etoile--svg.carre__el{
        background-color: #4D7C04;
        transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }


    .sond__el{
        overflow: hidden;
        border-radius: 18px;
    }


    .sond__el img:hover{
            scale: 1.08;
    }
}