#sondage{
    margin-bottom: 200px;
}


.sondage__carre{
    display: none;
}


.sondage__el{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 90px 0;

    scroll-snap-align: center;

    img{
        width: 40%;
        height: max-content;
        background-color: #CFC1AB;
        border-radius: 18px;
        transition: 0.4s cubic-bezier(0.65, 0, 0.35, 1);
    }

    .paragraphe--accent{
        width: 60%;
        display: flex;
        flex-direction: column;

        span{
            font-size: 45px;
        }
    }
}

.sondage__side {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}



.etoile--svg{
    background-image: url(../../assets/images/etoiles.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.etoile--svg.sond__img{
    background-color: #4D7C04;
}


@media (min-width: 470px){

    #sondage{
        margin-right: 7%;
        margin-left: 7%;
    }

    .sondage__el img{
        width: 35%;
    }

}