body {
  font-family: "astoria-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #222;
  margin: 0;
}

.paragraphe{
  font-size: 17px;
  line-height: 180%;
}

.paragraphe--accent{
  font-size: 25px;
  color: #D7DF0C;
  font-weight: 400;
  text-align: center;
}

.titre--small{
  font-size: 16px;
  font-weight: 400;
}

.titre{
  font-size: 29px;
  line-height: 140%;
  font-weight: 400;
}

.titre--big{
  font-size: 41px;
  line-height: 130%;
  font-weight: 400;
}