#video{
    width: calc(100% + 30px);
    margin: auto;
    height: 40vh;
    border-radius: 25%;
    background-color: #548f1d;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    scale: 0.9;
    margin-left: -15px;
}

.video__el{
    width: 98%;
    border-radius: 18px;
    margin: 0;
}

@media (min-width: 1000px){

    #video{
        width: calc(100% + 40px);
        height: 115vh;  
        margin-left: -20px;  
    }

    .video__el{
        width: 85%;
    }
}